@import '~@blueprintjs/core/lib/scss/variables';

.navbar {
  .version-menu {
    justify-content: center;
    flex-direction: column;
    &__item {
      display: block;
    }
  }
  & &__sign_out {
    margin-right: 2 * $pt-grid-size;
    margin-left: 2 * $pt-grid-size;
  }
}
