@import '~@blueprintjs/core/lib/scss/variables';

.advert-selector {
  position: relative;
  height: 100%;
  & &__filter {
    box-shadow: none !important;
    height: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  & &__filter-item {
    padding: $pt-grid-size 0;
  }
  & &__filter-divider {
    width: 100%;
    border-left: none;
    height: 0;
    --margin: $pt-grid-size 0;
    border-bottom: 1px solid $pt-dark-divider-white;
  }
  & &__dataset-buttons {
    background-color: $dark-gray5;
    padding: 0 $pt-grid-size $pt-grid-size $pt-grid-size;
    position: absolute;
    bottom: -4 * $pt-grid-size;
    right: 0;
    border-bottom-left-radius: 2 * $pt-border-radius;
    > button {
      margin-right: $pt-grid-size;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
