@import '~@blueprintjs/core/lib/scss/variables';

.advert-selector-zone-filter {
  display: flex;
  align-items: center;
  & &__trash {
    margin-left: $pt-grid-size;
    align-self: center;
  }
  & &__points {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 5 * $pt-grid-size;
    margin-left: $pt-grid-size;
    position: relative;
  }
  & &__points-scrolls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  & &__point {
    display: inline-block;
    margin-right: $pt-grid-size;
    &:last-child {
      margin-right: 0;
    }
  }
  & &__point-disclaimer {
    display: inline-block;
    width: 100%;
    line-height: 4.5 * $pt-grid-size;
    vertical-align: middle;
    text-align: center;
  }
}
