@import '~@blueprintjs/core/lib/scss/variables';

.advert {
  padding: $pt-grid-size;
  & &__out {
    > span {
      display: inline-flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  & &__out-icon {
    padding-left: 1.25 * $pt-grid-size;
    padding-right: 0.5 * $pt-grid-size;
  }
  & &__frame {
    width: 100%;
    height: 55 * $pt-grid-size;
  }
  & &__table-skeleton {
    height: 3 * $pt-grid-size;
  }
  & &__header {
    display: flex;
  }
  & &__main {
    margin-right: 2 * $pt-grid-size;
    flex-grow: 1;
  }
  & &__table {
    width: 100%;
  }
  & &__headline {
    display: flex;
  }
  & &__headline-icon {
    padding-right: $pt-grid-size;
    padding-top: 0.5 * $pt-grid-size;
  }
  & &__location {
    height: 50 * $pt-grid-size;
  }
}
