@import '~@blueprintjs/core/lib/scss/variables';

.auth {
  &__icon {
    margin-left: -0.5 * $pt-grid-size;
  }
  &__grid {
    display: flex;
    align-items: center;
    margin-bottom: $pt-grid-size;
  }
}
