@import '~@blueprintjs/core/lib/scss/variables';

.advert-selector-map {
  height: 100%;
  position: relative;
  & &__loader {
    z-index: 201;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pt-dark-app-background-color;
  }
}

.advert-selector-map-info-box {
  padding: 0.5rem 1rem;
  color: $pt-text-color;
  & &__list {
    margin: 0 0 0.5 * $pt-grid-size 0;
    padding-left: $pt-font-size;
  }
  & &__list-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  & &__list-button {
    margin-left: 3 * $pt-grid-size;
  }
  & &__list-button--hidden {
    visibility: hidden;
    opacity: 0;
  }
  & &__heading {
    color: $pt-text-color !important;
    margin: 0;
  }
  &__header {
    margin-bottom: $pt-grid-size;
  }
}
