@import '~@blueprintjs/core/lib/scss/variables';

.advert-selector-basic-filter {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  & &__form-group {
    display: inline-block;
    padding-top: $pt-grid-size;
    margin: 0 $pt-grid-size;
    > * {
      display: inline-block;
    }
  }
  & &__clear-filter {
    margin-left: auto;
  }
}
