@import '~@blueprintjs/core/lib/scss/variables';

.workspace-grid-item {
  height: 100%;
  box-shadow: $pt-dark-dialog-box-shadow;
  overflow: hidden;
  & &__navbar {
    text-align: center;
    cursor: move;
    height: 3 * $pt-grid-size;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 600;
    &::after {
      content: '';
      clear: both;
    }
    position: relative;
  }
  & &__icon {
    padding-right: $pt-grid-size;
  }
  & &__title {
    vertical-align: middle;
  }
  & &__container {
    height: calc(100% - #{3 * $pt-grid-size});
    background-color: $dark-gray5;
  }
  & &__controls {
    cursor: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.5 * $pt-grid-size 0.75 * $pt-grid-size;
  }
  & &__controls-button {
    cursor: pointer;
    padding: 0 * $pt-grid-size;
    z-index: 1;
    min-height: auto;
    min-width: auto;
    height: 2 * $pt-grid-size;
    width: 2 * $pt-grid-size;
    text-align: center;
    // background-color: $dark-gray4 !important;
  }
  & &__controls-button-close {
    &:hover {
      background-color: $red3 !important;
    }
    &:active {
      background-color: $red1 !important;
    }
  }
  & &__controls-icon {
    vertical-align: unset;
    padding-top: 0.25 * $pt-grid-size;
  }
  & &__detached {
    background-color: #394b59;
    height: 100%;
  }
  & &__attach-menu {
    & > button {
      display: inline-block;
      margin: $pt-grid-size;
    }
  }
}
