.toolbox {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  & &__toggle {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  & &__zone {
    display: flex;
  }
}
