@import '~@blueprintjs/core/lib/scss/variables';

.estate-features {
  & &__meta-table {
    flex-shrink: 0;
    td {
      padding: 0.25 * $pt-grid-size;
      &:first-child {
        font-weight: 600;
        padding-right: $pt-grid-size;
        text-align: right;
      }
    }
  }
  & &__panel {
    display: flex;
    justify-content: space-around;
  }
  & &__callout {
    margin-top: $pt-grid-size;
  }
  & &__feature-tables {
    flex: 0 1 40 * $pt-grid-size;
  }
  & &__feature-table {
    display: inline-table;
    margin-left: auto;
    margin-bottom: 2 * $pt-grid-size;
    td,
    th {
      text-align: center;
      padding: 0.25 * $pt-grid-size;
      width: 10 * $pt-grid-size;
    }
  }
}
